services:
  backend:
    image: jihoonkim501/areumdap-backend:latest
    container_name: areumdap-backend
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    restart: always
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: areumdap-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    restart: always
