version: "3.8"

services:
  backend:
    image: jihoonkim501/areumdap-backend:latest
    container_name: areumdap-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always
