version: "3.8"

services:
  backend:
    image: jihoonkim501/areumdap-backend:latest
    container_name: areumdap-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always

  redis:
    image: redis:7
    container_name: areumdap
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    restart: always
