spring:
  application:
    name: areumdap-be

  config:
    import: optional:file:.env[.properties]

  profiles:
    active: dev   # ⭐ dev로 명시 (중요)

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
