name: AreumDapBE CD

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install AWS CLI v1
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli
          aws --version

      - name: Trigger CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name areumdap-codedeploy \
            --deployment-group-name areumdap-prod \
            --github-location repository=${{ github.repository }},commitId=${{ github.sha }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-northeast-2
